[core]
    autocrlf = input
    editor = vim
    compression = 9
    whitespace = error
    preloadindex = true

[user]
	name = Jonathan Debétaz
	email = contact@jonathan-d.ch
	signingkey = ""

[advice]
    addEmptyPathspec = false
    pushNonFastForward = false
    statusHint = false

[gpg]
    format = openpgp

[fetch]
    prune = true

[init]
	defaultBranch = main

[commit]
	gpgsign = false

[tag]
	gpgSign = false
