[core]
    autocrlf = input
    editor = vim
[user]
	name = Jonathan Debétaz
	email = contact@jonathan-d.ch
	signingKey = ""
[gpg]
    format = openpgp
[fetch]
    prune = true
[init]
	defaultBranch = main
